@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html {
	overflow: hidden;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
